<div id="contact"><hr /></div>

<div class="row footer">
  <div class="col-sm-3">
    <img class="img-rounded img-responsive" src="/images/logo-rstc.png">
    <p class="text-center">
      <a href="mailto:katrinalines@roseburgstc.com">Click here</a> to email<br/> Roseburg Saw &amp; Tool
    </p>
  </div>

  <div class="col-sm-3">
    <a href="http://www.calsaw.com">
      <img class="img-rounded img-responsive" src="/images/logo-cskw.png">
    </a>

    <p class="text-center">
      <a href="mailto:katrinalines@calsaw.com">Click here</a> to email<br/> California Saw &amp; Knife
    </p>
  </div>

  <div class="col-sm-4 col-sm-offset-2">
    <p class="contact-info">
      <strong>
        PO Box 165<br />
        Winchester, OR 97495<br />
      </strong>
      <br />
      Customer Support:<br />
      <a href="tel:415-861-0644">415-861-0644</a><br />
      <br />
      Billing Inquiries:<br />
      <a href="tel:541-900-9122">541-900-9122</a>
    </p>
  </div>
</div>