<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <a href="{{ site.baseurl }}/">
      <img class="img-rounded" src="{{ site.baseurl }}/images/logo-cskw.png">
    </a>
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <ul class="nav-list list-inline">
        <li><a href="{{ site.baseurl }}/">Calsaw</a></li>
        <li><a href="{{ site.baseurl }}/circular-saws">Circular Saws</a></li>
        <li><a href="{{ site.baseurl }}/acu-saw">Acu Saw</a></li>
        <li><a href="{{ site.baseurl }}/food-processing">Food Processing</a></li>
        <li><a href="{{ site.baseurl }}/cutting-efficiently">Cutting Efficiently</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
